.pagination-container {
    list-style: none;
    margin: 0;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    font-size: medium;
    text-align: center;
}

.sub-navbar {
    list-style: none;
    margin: 0;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    font-size: large;
    text-align: center;
}

.sub-navbar-item {
    height: 100%;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-prim);
}

.sub-navbar a {
    height: 50px;
    width: max-content;
    justify-content: flex-end;
    align-items: baseline;
}

.horizontal-list-container {
    height: max-content;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.horizontal-list-item {
    padding: 12px;
}

@media screen and (max-width: 550px) {
    .pagination-container {
        grid-row: 3fr;
        grid-template-rows: 3fr;
        grid-column-end: auto;
    }
}