.card-md-container {
    max-width: 300px;
    height: max-content;
    padding: 10px;
    box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0.40);
    margin-top: 40px;
    border-radius: 8px;
}

.card-md-list {
    height: max-content;
    justify-content: space-evenly;
}

.card-md-title {
    display: flex;
    height: max-content;
    list-style: none;
    font-size: x-large;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.card-md-item {
    list-style: none;
    padding: 0;
    margin: 2px;
    height: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #b8b6b6;
    border-radius: 12px;
}

.card-md-item:hover {
    background-color: #e9e9e9;
    max-inline-size: 100%;
    margin: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 17, 0.40);
}

.card-md-content {
    border-radius: 8px;
    padding: 4px;
    margin-left: 2px;
}