@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;700&display=swap');
:root {
    --white-prim: #dddde6;
    --white-seco: #eeeeee;
    --dark-prim: #12171a;
    --dark-seco: #3c4a52;
    --dark-tert: #606c72;
    --dark-quat: #606c721a;
    --green-prim: #22d1d3;
    --green-seco: #188f91;
    --green-tert: #0f5c5e;
    --red-prim: #911836;
    --blue-prim: #184891;
}

body {
    background: var(--white-prim);
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/*Pagination*/

.pagination {
    justify-content: center;
    align-items: center;
}

.page-item::after {
    background: transparent;
}

.page-link {
    background: transparent;
    color: var(--dark-seco);
    font-size: large;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: 1px solid #463b3b31;
}

.page-link:hover:focus {
    background: transparent;
    color: #188f91;
    border: 1px solid #463b3b93;
}


/*Modal*/

.modal-content {
    background-color: var(--white-prim);
}

.close {
    font-size: large;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.close:hover {
    color: var(--red-prim);
}

.link-option {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: var(--dark-seco);
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
}

.link-option:hover {
    color: var(--dark-prim);
    background-color: var(--dark-quat);
}

.blur-container {
    max-inline-size: 100%;
    margin: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0.39, 0.37);
}


/*Button*/

.btn {
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 6px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    border-radius: 10px;
}

.btn-confirm {
    background-color: var(--green-seco);
    color: var(--white-seco);
}

.btn-confirm:hover {
    background-color: transparent;
    color: var(--dark-prim);
    border: 3px solid var(--green-seco);
}

.btn-primary {
    background-color: var(--blue-prim);
    color: var(--white-seco);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--dark-prim);
    border: 3px solid var(--blue-prim);
}

.btn-danger {
    background-color: var(--red-prim);
    color: var(--white-seco);
}

.btn-danger:hover {
    background-color: transparent;
    color: var(--dark-prim);
    border: 3px solid var(--red-prim);
}


/*Scrool*/

::-webkit-scrollbar {
    background-color: rgb(168, 180, 179);
    border-radius: 0px 8px 8px 0px;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-tert);
    border-radius: 8px;
}